body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    padding: 20px;
}

.introduction {
    text-align: center;
}

.container {
    max-width: 850px;
    max-height: 600px;
    margin: auto;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    color: #00bfff;
    margin-bottom: 20px;
}

.vdjscript_action-bar {
    width: 210px;
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #aaa;
    border-color: #587190;
}

    .vdjscript_action-bar input {
        flex: 1;
        width: 200px;
        padding: 6px;
        border: none;
        border-radius: 4px;
        background: #222;
        color: #eee;
    }

.vdjscriptlist_container {
    width: 800px;
    max-height: 380px;
    display: flex;
    gap: 10px;
    background: #3b3b3b;
    padding: 10px;
    border-radius: 6px;
}

.vdjscriptlist_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 380px;
    margin: 0 5px;
}

    .vdjscriptlist_column h3 {
        margin-top: 0;
        font-size: 14px;
        color: #aaa;
        padding-bottom: 0;
    }

.vdjscriptlist_column_data {
    flex: 1;
    margin-top: 0;
    background: #1a1a1a;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #444;
    overflow-y: auto;
}

    .vdjscriptlist_column_data ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .vdjscriptlist_column_data li {
        padding: 1px;
        cursor: pointer;
        border-radius: 4px;
        color: #c0c0c0
    }

        .vdjscriptlist_column_data li:hover {
            background: #444;
        }

        .vdjscriptlist_column_data li.active {
            background: #587190;
        }

.vdjscriptlist_description {
    white-space: pre-line;
    font-size: 13px;
    color: #c0c0c0
}
