###############################################################################
# Exclude the folders and files below
###############################################################################
/compare
