###############################################################################
# Exclude the folders and files below
###############################################################################
/convertorEnglishXML
