###############################################################################
# Exclude the folders and files below
###############################################################################
/convertor
